<form name="article" action="/admin/create" method="post">
  title: <input name="title" id="title" /><br />
  description: <input name="description" id="description" /><br />
  content: <textarea name="content" id="content" rows="4" cols="50"></textarea>
  <input type="submit" value="Submit" class="btn btn-primary btn-lg"></input>
</form>