<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles/style.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <h1>Articles</h1>
    <section class="sec_include">
      <div class="container">
        <% Object.keys(articles).map((key)=>{%>
        <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
          <h3>
            <%=articles[key].title%>
          </h3>
          <p>
            <%=articles[key].description%>
          </p>
          <a href="/articles/<%=articles[key].id%>" class="btn-oval">Learn More</a>
        </div>
        <% }) %>
      </div>
    </section>
  </div>
</body>

</html>