<%- include('partials/header',{title}); %>

<h1 class="text-3xl my-8 dark:text-white">
  <%= title %>
</h1>


<form name="signup" action="/auth/signup" method="post">
  <div class="mb-6">
    <div>

      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
      <input type="text" name="email" id="email" class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="email" required>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
      <input type="password" name="password" id="password" class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*****" required>
      <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
        Submit
      </button>
    </div>
    <div class="text-sm mt-4 font-medium text-gray-500 dark:text-gray-400">
      Already have an account? <a href="/auth/signin" class="text-primary-700 hover:underline dark:text-primary-500">Login here</a>
    </div>
</form>

<%- include('partials/footer'); %>